{% block sw_cms_block_image_text_reversed_preview %}
    <div class="sw-cms-preview-slider-image-text">
        <img style="max-width:100%;" :src="'/allco/static/img/cms/bgc-slider.jpg' | asset">
    </div>
{% endblock %}
