.is--left_top {
    .wrapper-image-text {
        position: absolute;
        left: 10%;
        top: 15%;
    }
}

.is--left_bottom {
    .wrapper-image-text {
        position: absolute;
        left: 10%;
        bottom: 15%;
    }
}

.is--center {
    .wrapper-image-text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

.wrapper-image-text.default-preview {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .txt {
        text-align: center;
    }
}

.is--right_top {
    .wrapper-image-text {
        position: absolute;
        right: 10%;
        top: 15%;
    }
}

.is--right_bottom {
    .wrapper-image-text {
        position: absolute;
        right: 10%;
        bottom: 15%;
    }
}

.sw-cms-el-image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: start;

    .wrapper-image-text{
        .btn-primary, .address-editor-select:not(.collapsed), .address-editor-create:not(.collapsed) {
            color: #fff;
            background-color: #008490;
            border-color: #008490;
        }

        .btn-primary:hover, .address-editor-select:not(.collapsed):hover, .address-editor-create:not(.collapsed):hover {
            color: #fff;
            background-color: #00616a;
            border-color: #00555d;
        }

        .btn-primary:focus, .address-editor-select:not(.collapsed):focus, .address-editor-create:not(.collapsed):focus, .btn-primary.focus, .focus.address-editor-select:not(.collapsed), .focus.address-editor-create:not(.collapsed) {
            box-shadow: 0 0 0 .2rem rgba(38, 150, 161, .5);
        }

        .btn-primary.disabled, .disabled.address-editor-select:not(.collapsed), .disabled.address-editor-create:not(.collapsed), .btn-primary:disabled, .address-editor-select:not(.collapsed):disabled, .address-editor-create:not(.collapsed):disabled {
            color: #fff;
            background-color: #008490;
            border-color: #008490;
        }

        .btn-primary:not(:disabled):not(.disabled):active, .address-editor-select:not(.collapsed):active:not(.disabled):not(:disabled), .address-editor-create:not(.collapsed):active:not(.disabled):not(:disabled), .btn-primary:not(:disabled):not(.disabled).active, .active.address-editor-select:not(.collapsed):not(.disabled):not(:disabled), .active.address-editor-create:not(.collapsed):not(.disabled):not(:disabled), .show > .btn-primary.dropdown-toggle, .show > .dropdown-toggle.address-editor-select:not(.collapsed), .show > .dropdown-toggle.address-editor-create:not(.collapsed) {
            color: #fff;
            background-color: #00555d;
            border-color: #004a50;
        }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .address-editor-select:not(.collapsed):focus:active:not(.disabled):not(:disabled), .address-editor-create:not(.collapsed):focus:active:not(.disabled):not(:disabled), .btn-primary:not(:disabled):not(.disabled).active:focus, .active.address-editor-select:not(.collapsed):focus:not(.disabled):not(:disabled), .active.address-editor-create:not(.collapsed):focus:not(.disabled):not(:disabled), .show > .btn-primary.dropdown-toggle:focus, .show > .dropdown-toggle.address-editor-select:not(.collapsed):focus, .show > .dropdown-toggle.address-editor-create:not(.collapsed):focus {
            box-shadow: 0 0 0 .2rem rgba(38, 150, 161, .5);
        }

        .btn-secondary {
            color: #fff;
            background-color: #526e7f;
            border-color: #526e7f;
        }

        .btn-secondary:hover {
            color: #fff;
            background-color: #435a68;
            border-color: #3e5360;
        }

        .btn-secondary:focus, .btn-secondary.focus {
            box-shadow: 0 0 0 .2rem rgba(108, 132, 146, .5);
        }

        .btn-secondary.disabled, .btn-secondary:disabled {
            color: #fff;
            background-color: #526e7f;
            border-color: #526e7f;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #3e5360;
            border-color: #394c58;
        }

        .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(108, 132, 146, .5);
        }

        .btn-success {
            color: #fff;
            background-color: #3cc261;
            border-color: #3cc261;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #33a552;
            border-color: #309b4e;
        }

        .btn-success:focus, .btn-success.focus {
            box-shadow: 0 0 0 .2rem rgba(89, 203, 121, .5);
        }

        .btn-success.disabled, .btn-success:disabled {
            color: #fff;
            background-color: #3cc261;
            border-color: #3cc261;
        }

        .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
            color: #fff;
            background-color: #309b4e;
            border-color: #2d9149;
        }

        .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(89, 203, 121, .5);
        }

        .btn-info {
            color: #fff;
            background-color: #26b6cf;
            border-color: #26b6cf;
        }

        .btn-info:hover {
            color: #fff;
            background-color: #209aaf;
            border-color: #1e90a4;
        }

        .btn-info:focus, .btn-info.focus {
            box-shadow: 0 0 0 .2rem rgba(71, 193, 214, .5);
        }

        .btn-info.disabled, .btn-info:disabled {
            color: #fff;
            background-color: #26b6cf;
            border-color: #26b6cf;
        }

        .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
            color: #fff;
            background-color: #1e90a4;
            border-color: #1c8799;
        }

        .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(71, 193, 214, .5);
        }

        .btn-warning {
            color: #212529;
            background-color: #ffbd5d;
            border-color: #ffbd5d;
        }

        .btn-warning:hover {
            color: #212529;
            background-color: #ffad37;
            border-color: #ffa82a;
        }

        .btn-warning:focus, .btn-warning.focus {
            box-shadow: 0 0 0 .2rem rgba(222, 166, 85, .5);
        }

        .btn-warning.disabled, .btn-warning:disabled {
            color: #212529;
            background-color: #ffbd5d;
            border-color: #ffbd5d;
        }

        .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
            color: #212529;
            background-color: #ffa82a;
            border-color: #ffa31d;
        }

        .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(222, 166, 85, .5);
        }

        .btn-danger {
            color: #fff;
            background-color: #e52427;
            border-color: #e52427;
        }

        .btn-danger:hover {
            color: #fff;
            background-color: #cb181b;
            border-color: #bf1719;
        }

        .btn-danger:focus, .btn-danger.focus {
            box-shadow: 0 0 0 .2rem rgba(233, 69, 71, .5);
        }

        .btn-danger.disabled, .btn-danger:disabled {
            color: #fff;
            background-color: #e52427;
            border-color: #e52427;
        }

        .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
            color: #fff;
            background-color: #bf1719;
            border-color: #b41518;
        }

        .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(233, 69, 71, .5);
        }

        .btn-light {
            color: #212529;
            background-color: #f9f9f9;
            border-color: #f9f9f9;
        }

        .btn-light:hover {
            color: #212529;
            background-color: #e6e6e6;
            border-color: #e0e0e0;
        }

        .btn-light:focus, .btn-light.focus {
            box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5);
        }

        .btn-light.disabled, .btn-light:disabled {
            color: #212529;
            background-color: #f9f9f9;
            border-color: #f9f9f9;
        }

        .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
            color: #212529;
            background-color: #e0e0e0;
            border-color: #d9d9d9;
        }

        .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5);
        }

        .btn-dark {
            color: #fff;
            background-color: #4a545b;
            border-color: #4a545b;
        }

        .btn-dark:hover {
            color: #fff;
            background-color: #394146;
            border-color: #333a3f;
        }

        .btn-dark:focus, .btn-dark.focus {
            box-shadow: 0 0 0 .2rem rgba(101, 110, 116, .5);
        }

        .btn-dark.disabled, .btn-dark:disabled {
            color: #fff;
            background-color: #4a545b;
            border-color: #4a545b;
        }

        .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
            color: #fff;
            background-color: #333a3f;
            border-color: #2d3438;
        }
    }

    &.has--outside-arrows {
        width: calc(100% - 48px);
        margin: 0 auto;
    }

    .sw-cms-el-image-slider__image-box {
        display: grid;
        position: relative;

        .sw-cms-el-image-slider__image {
            margin: 0 auto;
            width: 100%;
        }

        &.is--cover {
            .sw-cms-el-image-slider__image {
                object-fit: cover;
                width: 100%;
                height: auto;
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    .sw-cms-el-image-slider__navigation {
        &.is--nav-outside {
            justify-content: center;
            background: #fff;
            border-radius: 5px;
            padding: 15px;
        }

        .sw-cms-el-image-slider__navigation-button {
            cursor: pointer;
            color: #C2CCD6;

            &:hover {
                color: #758CA3;
            }
        }

        .sw-cms-el-image-slider__navigation-arrows {
            .sw-cms-el-image-slider__navigation-button {
                position: absolute;
                top: 50%;
            }

            &.is--nav-inside {
                .sw-cms-el-image-slider__navigation-button {
                    &:first-child {
                        left: 5px;
                    }

                    &:last-child {
                        right: 5px;
                    }
                }
            }

            &.is--nav-outside {
                .sw-cms-el-image-slider__navigation-button {
                    &:first-child {
                        left: -25px;
                    }

                    &:last-child {
                        right: -25px;
                    }
                }
            }
        }

        .sw-cms-el-image-slider__navigation-dots {
            position: relative;

            &.is--nav-inside {
                .sw-cms-el-image-slider__navigation-buttons {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.is--nav-outside {
                padding-bottom: 0;

                .sw-cms-el-image-slider__navigation-buttons {
                    justify-content: center;
                    padding: 7.5px;
                }
            }

            .sw-cms-el-image-slider__navigation-buttons {
                display: grid;
                grid-auto-flow: column dense;
                grid-auto-columns: min-content;

                .sw-cms-el-image-slider__navigation-button {
                    width: 15px;
                    height: 15px;
                    background: #C2CCD6;
                    border-radius: 100%;
                    margin: 0 3px;

                    &.is--active {
                        background: #758CA3;
                    }

                    &:hover {
                        background: #758CA3;
                    }
                }
            }
        }
    }
    .sw-cms-el-image-slider {
        position: relative;
    }
    .sw-cms-el-image-slider__image-box {
        height: 500px;
        overflow: hidden;
    }
    .sw-text-editor__content-editor {
        p {
            margin: 0;
        }
        p {
            a btn btn-primary {
                margin-top: -15px;
            }
        }
    }
    h2 {
        text-align: center;
        color: #3A3E4A;
        font-size: 35px;
    }
    .category-goups {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .category-element {
            padding: 20px 40px;
            background: #fff;
            margin-right: 20px;
        }
    }
    .wrapper-image-text .sw-text-editor .sw-text-editor__content-editor h3 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #879200;
        font-weight: bold;
        font-size: 30px;
        text-transform: initial;
        &:before {
            display: none;
        }
    }
}
