{% block element_image_slider %}
    <!-- Swiper -->
    <div class="swiper-container delight-container-block">
        <div class="swiper-wrapper">
            {% for image in element.data.sliderItems %}
            <div class="swiper-slide">
                <img src=" {{ image.media.url }}" alt="img-slide">
            </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
{% endblock %}
