{% block element_images_slider %}
    {%  set sliderConfig = element.fieldConfig.elements %}

    <div class="swiper-containers itDelight-custom-slider">
        <div class="swiper-wrapper">
            {% block element_image_slider_alignment %}
            {% set myVal = 0 %}
            {% for image in element.config.sliderItems.value %}
            <div class="swiper-slide">
                <div class="image-slider-content"
                                           data-base-slider-container="true">
                    <img src="{{ image.mediaUrl }}" alt="test">
                        <div class="content">
                            {{ image.content|raw }}
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
{% endblock %}
