{% block sw_cms_block_image_text_reversed_preview %}
    <div class="sw-cms-preview-slider-images-wrapper">
        <div class="sw-cms-preview-slider-images-text">
            <div class="images-wrapper">
                <img style="max-width:100%;" :src="'/doger/static/img/cms/dog-text.jpg' | asset">
            </div>
        </div>
    </div>
{% endblock %}
